
---
swagger: "2.0"
info:
  description: "This is a test"
  version: "1.0.5"
  title: "API Documentation"
  termsOfService: "http://swagger.io/terms/"
  contact:
    email: "apiteam@swagger.io"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "store.shift72.com"
basePath: "/v2"
tags:
- name: "API Documentation"
  description: "API Documentation"
  externalDocs:
    description: "API Documentation"
    url: "http://swagger.io"
- name: "API Documentation"
  description: "API Documentation"
- name: "user"
  description: "API Documentation"
  externalDocs:
    description: "API Documentation"
    url: "http://swagger.io"
schemes:
- "https"
- "http"
paths:
  /services/users/v1/api_key:
    post:
      tags:
      - "API Documentation"
      summary: "uploads an image"
      description: ""
      operationId: "uploadFile"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "api_key"
        in: "path"
        description: "ID of pet to update"
        required: true
        type: "integer"
        format: "int64"
      - name: "additionalMetadata"
        in: "formData"
        description: "Additional data to pass to server"
        required: false
        type: "string"
      - name: "file"
        in: "formData"
        description: "file to upload"
        required: false
        type: "file"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "https://staging-store.shift72.com/services/users/auth/sign_in"
      security:
      - petstore_auth:
        - "write:pets"
        - "read:pets"
  
