
---
swagger: "2.0"
info:
  description: "This is a test"
  version: "1.0.5"
  title: "API Documentation"
  termsOfService: "http://swagger.io/terms/"
  contact:
    email: "apiteam@swagger.io"
host: "store.shift72.com"
basePath: "/v2"
tags:
- name: "API Documentation"
  description: "API Documentation"
  externalDocs:
    description: "API Documentation"
    url: "http://swagger.io"
- name: "API Documentation"
  description: "API Documentation"
- name: "user"
  description: "API Documentation"
  externalDocs:
    description: "API Documentation"
    url: "http://swagger.io"
schemes:
- "https"
- "http"
paths:
  /services/users/auth/sign_in:
    post:
      tags:
      - "API Documentation"
      summary: "Authenticates a sign in"
      description: ""
      operationId: "SignIn"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "email"
        in: "path"
        description: "Email address of the user."
        required: true
        type: "string"
      - name: "Password"
        in: "path"
        description: "User’s password."
        required: true
        type: "string"
      - name: "RememberMe"
        in: "path"
        description: "Requests a longer session expiry. Session will extended to 30 days."
        required: false
        type: "bool"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "https://staging-store.shift72.com/services/users/auth/sign_in"
      security:
      - petstore_auth:
        - "write:pets"
        - "read:pets"
  
